# Converted from svn:ignore properties (git svn show-ignore, r1542)
/branch/trunk/quake2xp.suo
/branch/trunk/*.suo
/branch/trunk/3zb2src97/[Bb]in
/branch/trunk/3zb2src97/obj
/branch/trunk/3zb2src97/[Dd]ebug
/branch/trunk/3zb2src97/[Rr]elease
/branch/trunk/3zb2src97/*.user
/branch/trunk/3zb2src97/*.aps
/branch/trunk/3zb2src97/*.eto
/branch/trunk/xsrc/[Bb]in
/branch/trunk/xsrc/obj
/branch/trunk/xsrc/[Dd]ebug
/branch/trunk/xsrc/[Rr]elease
/branch/trunk/xsrc/*.user
/branch/trunk/xsrc/*.aps
/branch/trunk/xsrc/*.eto
/trunk/quake2xp.suo
/trunk/*.suo
/trunk/.idea
/trunk/.lock-waf*
/trunk/.waf*
/trunk/build
/trunk/steamLauncher/[Bb]in
/trunk/steamLauncher/obj
/trunk/steamLauncher/[Dd]ebug
/trunk/steamLauncher/[Rr]elease
/trunk/steamLauncher/*.user
/trunk/steamLauncher/*.aps
/trunk/steamLauncher/*.eto
/trunk/steamLauncher/ClientBin
/trunk/steamLauncher/GeneratedArtifacts
/trunk/steamLauncher/_Pvt_Extensions
/trunk/steamLauncher/project.lock.json
/trunk/steamLauncher/*.nuget.props
/trunk/steamLauncher/*.nuget.targets
/trunk/xsrc/[Bb]in
/trunk/xsrc/obj
/trunk/xsrc/[Dd]ebug
/trunk/xsrc/[Rr]elease
/trunk/xsrc/*.user
/trunk/xsrc/*.aps
/trunk/xsrc/*.eto
/trunk/zaero/[Bb]in
/trunk/zaero/obj
/trunk/zaero/[Dd]ebug
/trunk/zaero/[Rr]elease
/trunk/zaero/*.user
/trunk/zaero/*.aps
/trunk/zaero/*.eto
/trunk/zaero/ClientBin
/trunk/zaero/GeneratedArtifacts
/trunk/zaero/_Pvt_Extensions
/trunk/zaero/project.lock.json
/trunk/zaero/*.nuget.props
/trunk/zaero/*.nuget.targets
